<div id="modal">
  <div class="modal-content">
    <button (click)="close()">
        X
      </button>
    <label>Book title:
      <input #bookTitle />
    </label>
    <label>Author:
        <input #author />
      </label>
      <label>Image:
        <input #image />
      </label>
    <label>summary:
        <input type="textarea" #bookSummary />
      </label>
    <button (click)="add(bookTitle.value, author.value, image.value, bookSummary.value); bookTitle.value=''; image.value=''; bookSummary.value=''">
      add
    </button>
    </div>
</div>

<button (click)="open()">+</button>
<ul class="books">
  <li *ngFor="let book of books" [class.selected]="book === selectedBook" (click)="onSelect(book)">
    <a routerLink="/details/{{book.id}}">
      {{book.title}}
    </a>
      <button class="delete" title="delete book"
      (click)="delete(book)">x</button>
  </li>
</ul>